<<<<<<< HEAD
/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: rgb(236, 220, 148); 
}

/*main grid container*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    background-color: rgb(236, 220, 148);  
}

/*enter date box*/
.enter {
    font-size: large;
    font-weight: bold;
    background-color: black;
    color: rgb(236, 220, 148);
    border: 5px solid rgb(236, 220, 148);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

button {
    width: 100px;
    padding: 10px;
    color: rgb(236, 220, 148);
    font-size: xx-large;
    background-color: black;
    border-radius: 10px;
    border: 5px solid rgb(236, 220, 148);
}

/*enter/countdown divs*/
.container {
    text-align: center;
    color: rgb(236, 220, 148);
    background-color: black;
    border-radius: 40px;
    padding: 20px;
    border: 5px solid black;
    box-shadow: 5px 5px 20px 10px rgb(236, 225, 168) inset;
}

/*countdown box*/
#countdown {
    width: 60%;
    align-self: center;
    font-size: large;
    font-weight: bold;
    background-color: black;
    color: rgb(236, 220, 148);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 30px 10px rgb(238, 230, 189) inset;
=======
/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    background-color: rgb(190, 190, 228);  
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}


.enter {
    background-color: black;
    color: white;
    text-align: center;
}

button {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid black;
}

.container {
    text-align: center;
    color: white;
    background-color: rgb(70, 70, 202);
    border: 2px solid black;
    border-radius: 50px;
    padding: 20px;
}

#countdown {
    background-color: rgb(113, 113, 189);
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px rgb(66, 64, 64) inset;
    padding: 20px;
    text-align: center;
>>>>>>> 005c7d65bb6e20cb6cc76d074d5340468ec54ed1
}